---
import Link from "./Link.astro";
interface Props {
  title: string;
  image: string;
  model: string;
  description: string;
  url: string;
}

const { title, image, model, description, url } = Astro.props;
---

<article
  class="flex flex-col justify-start items-center gap-2 h-fit w-full max-w-[300px] rounded-xl p-3 border-card-border bg-card-background border-2"
>
  <Link url={url}>
    <slot name="icon" />
    <h1 class="text-xl/[1rem] font-semibold text-center text-balance">
      {title}
    </h1>
  </Link>
  <picture class="rounded-lg overflow-hidden aspect-video">
    <img src={image} alt={title} class="w-full h-full object-cover" />
  </picture>
  <span class="p-2 bg-card-border rounded-xl text-center self-start"
    >{model}</span
  >
  <p class="overflow-hidden break-words w-full text-pretty">{description}</p>
</article>
